<div class="row" style="height:70px;">
        <div>
            <div class="row">
                <div class="col-md-2" style="padding-top:15px;">
                    <label class="custom_label" style="color:grey;">Select Vehicle</label>
                    <select id="selectGroup" class="form-control" style="height:25px;color:lightgrey;font-size:11px;" name="groupList"
                        ng-model="data.selectedvehicle" ng-change="fetchDevicelist(groupname)">
                        <option ng-if="deviceList.length" value="" selected disabled
                            class="disable_select">-- Select Vehicle - -</option>
                        <option ng-if="!deviceList.length" selected disabled>No
                            Vehicles Available</option>
                        <option ng-repeat="v in deviceList"
                            value="{{ v.vehicle_num }}">{{v.vehicle_num}}</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <div class='input-group date SpddateB' id='trvelRouteHstTimePic' ng-click="openCal()">
                        <input type='text' class="form-control SpddateNB" id="trvelRouteHstTime" 
                            readonly="readonly" placeholder="Select Date" /> <span
                            class="input-group-addon SpddateNB"> <span
                            class="glyphicon glyphicon-calendar"> </span>
                        </span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div ng-repeat="timeslot in timeSlots">
                        <div class="btn pull-left" ng-model="timeslot" ng-click="getHistory(timeslot)">
                            <div class="acSmallFonts" style="float:left">{{timeslot.sts | date:'HH:mm'}}</div>
                            <div class="acSmallFonts" style="float:left">to</div>
                            <div class="acSmallFonts" style="float:left">{{timeslot.ets | date:'HH:mm'}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1" style="padding-top:15px;">
                    <img src="img/notification.png" style="height: 25px;float:right;">
                </div>
                <div class="col-md-2" style="padding-top:15px;">
                    <label>My Account</label>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-3" id="clearTextGroup">
                    <!-- <select id="selectGroup" class="form-control" style="height:25px;color:lightgrey;font-size:11px;" name="groupList"
                        ng-model="data.selectedvehicle" ng-change="fetchDevicelist(groupname)">
                        <option ng-if="deviceList.length" value="" selected disabled
                            class="disable_select">-- Select Vehicle - -</option>
                        <option ng-if="!deviceList.length" selected disabled>No
                            Vehicles Available</option>
                        <option ng-repeat="v in deviceList"
                            value="{{ v.vehicle_num }}">{{v.vehicle_num}}</option>
                    </select>       -->
                <!-- </div>
                <div class="col-md-2"> -->
                    <!-- <div class='input-group date SpddateB' id='trvelRouteHstTimePic' ng-click="openCal()">
                        <input type='text' class="form-control SpddateNB" id="trvelRouteHstTime" 
                            readonly="readonly" placeholder="Select Date" /> <span
                            class="input-group-addon SpddateNB"> <span
                            class="glyphicon glyphicon-calendar"> </span>
                        </span>
                    </div> -->
                <!-- </div>
            </div> --> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="padding:0px;">
            <div id="replay_map" ng-style="mapHeight"></div>
            <div class="row" style="top:80%;left:45%;position:fixed;background-color:#212123;border-radius:10px;width:400px;height:80px;">
                <div class="col-md-3" style="padding-top:15px;">
                    <img src="img/back_car.png" style="height: 50px;float:right;">
                </div>
                <div class="col-md-3" style="color:white;">
                        NISSAN SUNNY
                </div>
                <div class="col-md-6">
                    <div class="row" style="margin-top:20px;padding:5px;border-radius:5px;background-color:#4d4d4f">
                        <div class="col-md-3" style="padding:0px;">
                            <img src="img/play.png" class="rrimages" ng-if="play && !end" ng-click="updateSpeed(4);" style="float:right;">
                            <img src="img/pause.png" class="rrimages" ng-if="!play && !end"  ng-click="updateSpeed(3);" style="float:right;">
                        </div>
                        <div class="col-md-3" style="padding:0px;">
                            <img src="img/replay.png" class="rrimages" ng-click="getHistory(replaySlot)">
                        </div>
                        <div class="col-md-6" style="padding:0px;">
                            <select ng-model="data.selectedOption" required ng-options="option.value as option.name for option in availableOptions" ng-change="updateSpeed(data.selectedOption)" style="width:100%;background-color:grey;margin-top:5px;"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>