<!DOCTYPE html>
<html ng-app="bats">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">
  <!-- <link href="lib/ionic/css/ionic.css" rel="stylesheet"> -->
  <link href="css/style.css" rel="stylesheet">

  <script src="lib/angular/angular.js"></script>
  <script src="lib/ionic/js/angular-ui/angular-ui-router.min.js"></script>

  <!-- <script src="lib/ionic/js/ionic.bundle.js"></script> -->

  <!--cordova script (this will be a 404 during development) -->
  <!-- <script src="cordova.js"></script> -->
  
  <!--<script src="lib/ionic/js/angular/angular.js"></script>-->

  <!-- custom css -->
  <link href="component/start/start.css" rel="stylesheet">
  <link href="component/login/login.css" rel="stylesheet">
 
  
  <!--third part css-->
  <link href="assets/tooltipster/tooltipster.min.css" rel="stylesheet">
  <link href="assets/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/angular-material.min.css" rel="stylesheet">
  <link href="assets/font-awesome/font-awesome.min.css" rel="stylesheet">
  <!-- <link href="assets/ion-place-autocomplete/ion-place-autocomplete.css" rel="stylesheet"> -->
  <!-- <link href="assets/ion-datetime-picker/ion-datetime-picker.min.css" rel="stylesheet"> -->
 
  <!--third part js-->
  <script src="assets/jquery/jquery.min.js"></script>


  <!-- core js -->
  <script src="js/BatsApp.js"></script>
  <!-- <script src="js/BatsApp.js"></script> -->
  <!-- <script src="js/BatsConst.js"></script> -->
  
  <script src="js/BatsConfig.js"></script>


  <!-- component js -->
  <script src="component/login/login.js"></script>
    <style>
        .row {
            margin-right: 0px !important;
            margin-left: 0px !important; 
        }
        .text-box{
            border: 1px solid #e7e7e7 !important;
            border-radius: 5px;
            padding-left: 10px;
        }
        .top-font{
            font-size:12px;
            font-weight:bold;
        }
        .bottom-font{
            font-size:12px;
            color:grey;
        }
        .div-padding{
            padding-top:10px;
            padding-left:10px;
            padding-right:10px;
        }
    </style>

</head>

<body>
    <!-- <div class="" us-spinner="{radius:0, width:0, length: 0}"></div> -->
    <div class="row top-font" style="height: 60px;padding-top:20px;padding-bottom:20px;border-bottom:1px solid lightgrey;">
        <div class="col-md-5" style="text-align:center;">
            <img src="img/logo-login.png" width="100px;">
        </div>
        <form name="loginForm" novalidate ng-submit="gotoHome(data, loginForm)">
            <div class="col-md-2">
                <input type="text" class="text-box" ng-model="data.userid" placeholder="UserID" style="float:left;">
            </div>
            <div class="col-md-2">
                <input type="text" class="text-box" ng-model="data.password" placeholder="Password" style="float:left;">
            </div>
            <div class="col-md-1">
                <button class="btn" style="background-color:#00ba88;color:white;height:22px;width:100px;padding:0px;">Login</button>
            </div>
            <div class="col-md-2">
                <span>Forgot Password?</span>
            </div>
        </form>
    </div>
    <div class="row" style="text-align:center;">
        <div class="col-md-offset-4 col-md-4" >
            <div class="row">
                <div class="col-md-offset-2 col-md-8 col-md-offset-2" style="box-shadow: 1px 1px 15px grey;margin-top:50px;border: 1px solid lightgrey;">
                    <div style="padding:20px 40px 0px 40px;">
                        <span style="font-weight:bold;font-size:14px;">TRACK YOUR WHEELS ON YOUR PALMS</span>
                    </div>
                    <div>
                        <span style="color:grey;font-size:10px;">Register your account</span>
                    </div>
                    <form class="bottom-font">
                        <div class="div-padding">
                            <span class="pull-left">First Name</span>
                            <input class="text-box" type="text">
                        </div>
                        <div class="div-padding">
                            <span class="pull-left">Last Name</span>
                            <input class="text-box" type="text">
                        </div>
                        <div class="div-padding">
                            <span class="pull-left">Email</span>
                            <input class="text-box" type="text">
                        </div>
                        <div class="div-padding">
                            <span class="pull-left">Phone Number</span>
                            <input class="text-box" type="text">
                        </div>
                        <div class="div-padding">
                            <span class="pull-left">Password</span>
                            <input class="text-box" type="text">
                        </div>
                        <div class="div-padding">
                            <span class="pull-left">Country</span>
                            <input class="text-box" type="text">
                        </div>
                        <div class="div-padding">
                            <span class="pull-left">State</span>
                            <input class="text-box" type="text">
                        </div>
                        <div class="div-padding" style="padding-bottom:20px;padding-top:20px;">
                            <button class="btn btn-original" style="width:100%;height:25px;color:white;background-color:#00ba88;padding:0px;">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- <div style="text-align:center;height:60px;">
        <span>Copyright @ 2016 Bydesign India Pvt Ltd. All Rights Reserved</span>
    </div> -->
</body>

</html>